/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

.error {
  border: #f31111 1px solid;
}

.error-message {
  color: #e82f2f;
}
.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
